<nz-card class="parallel-approval-merge-node" [nzBordered]="true">
  <div nz-row nzJustify="space-between" nzAlign="middle" class="parallel-approval-merge-header">
    <div nz-col>
      <span nz-icon nzType="merge-cells" nzTheme="outline" style="color: #fff; margin-right: 4px;"></span>
      <span style="color: #fff; font-size: 12px; font-weight: 500;">合并审批</span>
    </div>
  </div>
  <div class="parallel-approval-merge-content">
    <div class="merge-info">
      <div class="merge-text">等待所有分支完成</div>
    </div>
  </div>
</nz-card>
