:host {
    display: block;
    padding: 16px;
}

nz-form-item {
    margin-bottom: 16px;
}

nz-form-label {
    font-weight: 500;
}

nz-form-control {
    margin-top: 4px;
}

nz-input-number {
    width: 100%;
}

textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

[nz-typography] {
    margin-top: 4px;
    font-size: 12px;
}