.x6-flow-designer {
    height: 100%;
    width: 100%;
}

.x6-flow-designer ::ng-deep>.ant-tabs,
.x6-flow-designer ::ng-deep>.ant-tabs .ant-tabs-content,
.x6-flow-designer ::ng-deep>.ant-tabs .ant-tabs-tabpane  {
    height: 100%;
}
